@font-face {
    font-family: whyte;
    src: url(./Assets/fonts/Whyte-Light.woff2);
}
@font-face {
    font-family: merchant;
    src: url(./Assets/fonts/Merchant-Light.woff2);
}

*{
    margin: 0;
    padding: 0;
    font-family: whyte;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    background: #FCFCFC;
    /* overflow: hidden; */
}

/* Nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.menu{
    display: none;
}

.nav-1 ul{
    display: flex;
    gap: 2vw;
    align-items: center;
}
ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 20px; */
    overflow: hidden;
    width: fit-content;
}
li a{
    color: #000;
    font-size: 1vw;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.up{
    transform: translateY(5%);
}
.down{
    transform: translateY(5%);
    opacity: 0;
}

.dot{
    opacity: 0;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    transform: translateY(0%);
    transition: all .5s ease-in-out;
}

li:hover .up{
    transform: translateY(-99%);
}
li:hover .down{
    transform: translateY(-95%);
    opacity: 1;
}
li:hover .dot{
    transform: translateY(-275%);
    opacity: 1;
}

.nav-2 svg{
    height: 3vw;
}

.nav-3 {
    width: 14vw;
    height: 5vh;
    align-content: center;
    overflow: hidden;
}
.elem{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.b-1{
    width: 66%;
    height: 1px;
    background: #000;
    transition: all 1s ease-in-out;
}
.dt{
    display: flex;
    align-items: center;
    gap: .3vw;
    transition: all 1s ease-in-out;
}
.dt p{
    font-size: 1vw;
}
.dot-1{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: none;
    border: 1px solid gray;
    transition: all 1s ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-1 span{
    opacity: 0;
    font-size: 2px;
    transform: translateX(-150%);
    transition: all 1s ease-in-out;
    font-family: sans-serif;
    margin-top: -.1px;
}

.elem:hover .dot-1{
    scale: 5;
    background: #000;
    border: none;
}
.elem:hover .b-1{
    transform: translateX(300%);
}
.elem:hover .dt{
    gap: 1vw;
}
.elem:hover span{
    opacity: 1;
    transform: translateX(0%);
}


/* Hero section */

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15%;
}

.hero h1{
    font-weight: 100;
    font-family: merchant;
    font-size: 8.5vw;
    line-height: 8vw;
}

.hero img{
    width: 70%;
    object-fit: contain;
    margin-top: 5%;
    height: auto;
}



/* Intro */

.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    padding-top: 3%;
}
.intro .inp{
    width: 53%;
    height: 26.5%;
    overflow: hidden;
}
.inp p{
    font-size: 2.5vw;
    line-height: 3vw;
    text-align: center;
    font-family: merchant;
    transform: translateY(0);
}
.b-2{
    width: 77%;
}

/* Bar */

.bar{
    width: 96%;
    display: flex;
    /* align-items: center; */
    margin: 3vw auto;
    justify-content: center;
}
.line{
    width: 45%;
    height: 1px;
    background-color: #E4E4E4;
}
.sg svg{
    height: 3vw;
    margin-left: 1.4vw;
    margin-top: -.3vw;
    object-fit: contain;
}

/* Offers */


.offers{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    padding: 1vw 4vw;
    border-bottom: 1px solid #E4E4E4;
}

.offers .ffm{
    font-family: merchant;
    font-size: 3vw;
}
.offers .op{
    font-size: .9vw;
    width: 40%;
    margin-top: 2vw;
    line-height: 1.5vw;
}

.offrs-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    margin-top: 5vw;
}

.flx-elm{
    width: 28.5%;
    height: 65vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 1.5vw;
    overflow: hidden;
}
.flx-elm img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: contain;
    opacity: .95;
    transition: all.5s ease-in-out;
}
.flx-elm h3{
    font-size: 3vw;
    font-weight: 200;
    font-family: merchant;
}
.flx-elm p{
    font-size: .9vw;
    width: 75%;
}

.bi{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    width: 29%;
    height: 5vh;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    overflow: hidden;
    cursor: pointer;
}
.ap{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.dot-3{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: none;
    border: 1px solid gray;
    color: #000;
    transition: all .5s ease-in-out;
    font-size: 3px;
    scale: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-3 span{
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease-in-out;
}
.b-3{
    width: 59%;
    height: 1px;
    background: #fff;
    transform: translateX(0%);
    transition: all .5s ease-in-out;
    margin-right: 2px;
}
.flx-elm:hover .ap{
    gap: .5vw;
}
.flx-elm:hover .b-3{
    transform: translateX(110%);
}
.flx-elm:hover .fei{
    opacity: 1;
    scale: 1.1;
}
.flx-elm:hover .dot-3{
    border: none;
    scale: 3.5;
    background: #fff;
}
.flx-elm:hover .dot-3 span{
    opacity: 1;
    transform: translateX(0%);
}


/* Testimonials */

.test{
    width: 100%;
    height: 100vh;
    padding-left: 4vw;
    padding-top: 6vw;
}
.test .hp{
    font-size: 3vw;
    font-weight: 200;
    font-family: merchant;
}
.tests{
    display: flex;
    overflow-x: scroll;
    height: 70%;
    gap: 2vw;
    margin-top: 3vw;
}
.tests{
    padding-right: 3vw;
}
.tests::-webkit-scrollbar {
    height: 1px;
}

.tests::-webkit-scrollbar-track {
    background: transparent;
}

.tests::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}
.card{
    flex: 0 0 auto;
    width: 35vw;
    height: 80%;
    background-color: #E9EBE5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    padding: 2vw;
    cursor: grab;
}
.card p{
    font-size: 1.1vw;
    text-align: center;
    line-height: 1.5vw;
    font-weight: 100;
    font-family: merchant;
}



/* BG container */

.bg-con{
    width: 100%;
    height: 120vh;
    background-image: url(./Assets/images/67da9458ae9f123480f51660_bg-childless_11zon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}

.ccard{
    width: 35%;
    height: 45vh;
    background: #fff;
    padding: 2vw 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}

.ccard svg{
    height: 3vw;
    margin: 2vw 0;
}
.ccard .fm{
    font-size: 2.5vw;
    font-weight: 100;
    font-family: merchant;
}
.ccard p{
    font-size: .9vw;
    width: 80%;
}

/* Ques */

.ques{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ques-left, .ques-right{
    width: 45%;
    height: 43%;
}
.ques-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
}
.ques-left .mf{
    font-family: merchant;
    font-size: 2vw;
}
.ques-left p{
    width: 60%;
    font-size: 1vw;
    line-height: 1.3vw;
    font-weight: 200;
}

.ques-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}
details{
    transition: all 1s ease;
    border-bottom: 1px solid #E4E4E4;
    width: 79%;
}
summary{
    font-family: merchant;
    font-size: 1.4vw;
    font-weight: 100;
    padding: 2vw 0;
}
details p{
    font-size: 1vw;
    margin-top: 1vw;
    font-weight: 100;
    line-height: 1.3vw;
    padding: 2vw 0;
}


/* CTA */



.cta{
    width: 80%;
    height: 50vh;
    background-color: #E9EBE5;
    margin: auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: relative;
}

.cta svg{
    height: 4vw;
}

.cta .cta__text{
    width: 50%;
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
    line-height: 2.3vw;
    font-family: merchant;
}

.ll{
    width: 14vw;
    height: 5vh;
    align-content: center;
    overflow: hidden;

}


.cta-i1{
    width: 18%;
    height: 65%;
    position: absolute;
    top: 0;
    left: 5%;
    border-radius: 0 0 50% 50%;
    object-fit: cover;
}
.cta-i2{
    width: 18%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 5%;
    border-radius: 50% 50% 0 0 ;
    object-fit: cover;
}

/* Footer */


footer {
    padding: 0 4vw;
    width: 100%;
    /* height: 70vh; */
    padding-top: 5vw;
    margin-top: 5vw;
    padding-bottom: 3vw;
  }
  
.email-section p{
    font-size: 1vw;
    font-weight: 100;
}
.email-section h2{
    font-size: 3vw;
    font-weight: 100;
    font-family: merchant;
    margin-top: 1.5vw;
}

.footer-columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
}
.fff{
    display: flex;
    gap: 3vw;
    font-size: 1vw;
    font-weight: 100;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;
    margin-top: 3vw;
}

/* Loading */

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #FCFCFC;
}

.loading svg{
    height: 7vw;
    opacity: 0;
}